{:deps {}
 :paths ["src"]
 :aliases {:dev {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}}
           :test {:extra-paths ["test" "dev"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               org.clojure/clojurescript {:mvn/version "1.11.60"}
                               thheller/shadow-cljs {:mvn/version "2.23.1"}}}
           :garamond {:main-opts ["-m" "garamond.main"]
                      :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

           :release {:extra-deps {appliedscience/deps-library {:mvn/version "0.3.4"}}
                     :main-opts ["-m" "deps-library.release"]}}}
